<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "en">
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />
    <title>untitled</title>
  </head>
  <body>
    <wo:hyperlink pageName = "Main">zur&uuml;ck</wo:hyperlink>
    <ul>
      <wo:loop list = "$uListe" item = "$aU">
        <li>
          <wo:str value = "$aU.vorName" />
          | 
          <wo:hyperlink action = "$deleteUser">-</wo:hyperlink>
        </li>
      </wo:loop>
    </ul>
    <wo:hyperlink action = "$addUser">+ user</wo:hyperlink>
    <wo:form>
      <wo:textField value = "$aUser.vorName" />
      <wo:submit action = "$save" name = "sichern">sss</wo:submit>
    </wo:form>
  </body>
</html>